- var h1 = "H1"
- var h2 = "H2"
- var h3 = "H3"
- var body = "Body"
- var descr1 = "This one is the sub-section or widget title"
- var descr2 = "Next one is the item title inside widgets"
- var descr3 = "This is a label or CTA text"
- var descr4 = "This is the body text which is used for most of the design, like paragraphs, lists, etc."

.titles
  .titles__label.titles__label_1= h1
  .titles__descr 
    h1= descr1
  .titles__label.titles__label_2= h2
  .titles__descr 
    h2= descr2
  .titles__label.titles__label_3= h3
  .titles__descr 
    h3= descr3
  .titles__label.titles__label_4= body
  .titles__descr= descr4