
mixin dropdown-input(labelName, title, items=[], className)
  .dropdown
    .titles.titles_h3=labelName
    .dropdown__title(class= "dropdown__title_"+className)=title 
    .dropdown-wrapper.hide
      each item in items 
        .dropdown-wrapper__item
          p.titles.titles_h3=item 
          .counter
            button.minus(class=className) -
            span.titles.titles_h3.counter__number 0
            button.plus(class=className) +