- var title1 = "Dark Shade 100%"
- var id1 = "#1F2041"
- var title2 = "Dark Shade 75% "
- var id2 = "#1F2041" 
- var title3 = "Dark Shade 50%"
- var id3 = "#1F2041"
- var title4 = "Dark Shade 25%"
- var id4 = " #1F2041"
- var title5 = "Dark Shade 5%"
- var id5 = "#1F2041"
- var title6 = "Purple"
- var id6 = "#BC9CFF"
- var title7 = "Green"
- var id7 = "#6FCF97"

.colors__wrapper
    .colors__item
        .colors__square.colors__square_1 
        .colors__descr
            .colors__title= title1
            .colors__title.colors__title_id= id1
                
    .colors__item
        .colors__square.colors__square_2 
        .colors__descr
            .colors__title= title2
            .colors__title.colors__title_id= id2
    .colors__item
        .colors__square.colors__square_3
        .colores__descr
            .colors__title= title3
            .colors__title.colors__title_id= id3
    .colors__item
        .colors__square.colors__square_4 
        .colores__descr
            .colors__title= title4
            .colors__title.colors__title_id= id4
    .colors__item
        .colors__square.colors__square_5 
        .colors__descr
            .colors__title= title5 
            .colors__title.colors__title_id= id5
    .colors__item
        .colors__square.colors__square_6
        .colors__descr
            .colors__title= title6
            .colors__title.colors__title_id= id6
    .colors__item
        .colors__square.colors__square_7
        .colors__descr
            .colors__title= title7
            .colors__title.colors__title_id= id7