mixin subscription(labelName, type= "text", name, placeholder, disabled, readonly, isMasked, maxlength)
  .text-field   
    label.titles.titles_h3(for=name)= labelName
    input.text-field.text-field__input(
      class= `${maskClass}`
      type=type
      name=name
      placeholder= placeholder
      disabled=disabled 
      readonly=readonly
      maxlength=maxlength
    )